@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header__content {
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.nav__list-user {
  outline: 1px solid red;
  display: flex;
  width: 264px;
}

.nav__user-icons {
  outline: 1px solid blue;
  width: 42px;
}

.nav__user-search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav__user-favorite {
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  margin-right: auto;
  background-position: 50% 50%;
}

.nav__user-button {
  align-self: center;
}

.nav__link-button {
  background-color: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 9px 50px;
}

.promo {
  background-color: #82B3D3;
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.promo__content {
  text-align: center;
}

.reasons__title {
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.reasons__row {
  background-color: #82B3D3;
  background-image: url(../images/reason-1-background.jpg);
  background-repeat: no-repeat;
  background-size: 800px auto;
  background-position: right top;
}

.reasons__row-blue {
  width: 230px;
  margin-left: 85px;
  margin-right: 85px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding-top: 92px;
  padding-bottom: 92px;
}

.reasons__row-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons__row-number {
  margin: 0;
  margin-bottom: 30px;
}

.reasons__row-text {
  margin: 0;
}

.reasons__row-reverse {
  background-color: #82B3D3;
  background-image: url(../images/reason-2-background.jpg);
  background-repeat: no-repeat;
  background-size: 800px auto;
  background-position: left top;
}

.reasons__row-blue-reverse {
  margin-left: auto;
}

.reasons__squares-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons__squares-item {
  width: 400px;
}

.reasons__squares--lighter {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons__squares--light {
  background-color: rgba(131, 179, 211, 0.2);
}

.search__content {
  text-align: center;
}

.search__caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search__link {
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 149px;
}

.subscribe {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-white {
  background-image: none;
}

.subscribe__content {
  text-align: center;
}

.subscribe__caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__caption-white {
  color: #000000;
}
.subscribe__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.subscribe__text-white {
  color: #333333;
}

.subscribe__form-submit {
  background-color: #82B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 34px;
  cursor: pointer;
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
}

.address__link {
  text-decoration: none;
  color: #000000;
}

.catalog__header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/catalog-hotels/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog__header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filters-controls {
  border: none;
}

.filters-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.catalog__hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__hotels-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog__hotels-link {
  text-decoration: none;
  color: #000000;
}

.catalog__hotels-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.rating-result {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.catalog__hotels-button {
  background-color:#82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 20px;
}

.catalog__hotels-more {
  background-color: #756157;
}

.catalog__hotels-favourites {
  background-color: #82B3D3;
}

.rating-stars-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-white {
  background-color: #ffffff;
}
