@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
}

.container {
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header__content {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.nav__list {
  border: 1px solid blue;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 390px;
  display: flex;
  list-style-type: none;
}

.nav__list li:first-child a{
  padding-left: 17px;
}

.nav__link {
  padding-left: 34px;
  text-decoration: none;
  color: #000000;
}

.promo {
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

.promo__content {
  text-align: center;
}

.reasons__title {
  text-align: center;
}

.reasons__description {
  text-align: center;
}

.reasons__row {
  background-color: #82B3D3;
  background-repeat: no-repeat;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe__content {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
