@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  max-width: 1280px;
  min-height: 66px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header__content {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.page-header__logo {
  height: 65px;
  margin-right: 30px;
  z-index: 1;
}

.nav {
  width: 560px;
  margin-right: auto;
  align-self: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 17px;
}

.nav__item {
  padding-right: 34px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  position: relative;
}

.nav__link-active::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #756257;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.user-menu {
  align-self: center;
}

.user-menu__list {
  margin: 0;
  padding: 0;
  width: 264px;
  list-style: none;
  display: flex;
}

.user-menu__link-search {
  width: 42px;
  height: 100%;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-menu__link-favorite {
  height: 100%;
  width: 42px;
  position: relative;
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-menu__link-favorite::before {
  content: "12";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  right: -2px;
  top: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

.user-menu__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  position: relative;
}

.user-menu__button {
  margin-left: auto;
  max-width: 160px;
}

.user-menu__button-link {
  background-color: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 9px 36px;
}

.user-menu__button-link:hover, .user-menu__button-link:focus {
  background-color:  #615048;
}

.user-menu__button-link:active {
  background-color:  #756157;
  color: rgba(255, 255, 255, 0.3);
}

.promo {
  background-color: #82B3D3;
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 63px;
}

.promo__content {
  width: 458px;
  margin: 0 auto;
  padding-top: 51px;
}

.promo__img {
  display: block;
}

.promo__decoration {
  height: 66px;
  background-image: url(../images/promo-decoration.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}

.main-container {
  flex-grow: 1;
}

.catalog {
  flex-grow: 1;
}

.reasons__title {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.reasons__description {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.reasons__row-content {
  background-color: #82B3D3;
  display: flex;
}

.reasons__row-photo {
  width: 800px;
  background-image: url(../images/reason-1-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reasons__row-blue {
  width: 400px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 92px;
  padding-bottom: 92px;
  text-align: center;
}

.reasons__row-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons__row-number {
  margin: 0;
  margin-bottom: 30px;
}

.reasons__row-text {
  margin: 0;
}

.reasons__row-photo-reverse {
  background-image: url(../images/reason-2-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.reasons__row-blue-reverse {
  margin-left: auto;
}

.reasons__squares-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.reasons__squares-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  padding-top: 102px;
  padding-right: 10px;
  padding-bottom: 102px;
  padding-left: 10px;
}

.reasons__squares--lighter {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.recommendations__item {
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 80px;
  position: relative;
}

.recommendations__item-housing::before {
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  background-image: url(../images/housing.svg);
  background-repeat: no-repeat;
  left: 50%;
  top: 82px;
  transform: translateX(-50%);
}

.recommendations__item-food::before {
  content: "";
  width: 74px;
  height: 70px;
  position: absolute;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  left: 50%;
  top: 82px;
  transform: translateX(-50%);
}

.recommendations__item-souvenirs::before {
  content: "";
  width: 64px;
  height: 76px;
  position: absolute;
  background-image: url(../images/souvenirs.svg);
  background-repeat: no-repeat;
  left: 50%;
  top: 82px;
  transform: translateX(-50%);
}

.recommendations__item--light {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations__content {
  width: 230px;
  margin: 0 auto;
  margin-top: 183px;
}

.recommendations__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommendations__text {
  margin: 0;
}

.search__content {
  padding-top: 91px;
  text-align: center;
}

.search__caption {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search__text {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search__link {
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  width: 574px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.search__link:hover, .search__link:focus {
  background-color: #615048;
}

.search__link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 94px;
}

.subscribe-white {
  background-image: none;
}

.subscribe__content {
  padding-top: 94px;
  text-align: center;
}

.subscribe__caption {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__caption-white {
  color: #000000;
}

.subscribe__form {
  width: 800px;
  height: 60px;
  margin: 0 auto;
  display: flex;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.subscribe__text-white {
  color: #333333;
}

.subscribe__form-input {
  width: 600px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 0;
  outline: none;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 18px;
}

.subscribe__form-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.subscribe__form-submit {
  background-color: #82B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  color: #ffffff;
  cursor: pointer;
}

.subscribe__form-submit:hover, .subscribe__form-submit:focus {
  background-color: #68A2CA;
}

.subscribe__form-submit:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.address {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
}

.address__link {
  text-decoration: none;
  color: #000000;
}

.catalog__header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/catalog-hotels/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog__header-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 70px;
}

.catalog__header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
  width: 111px;
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filters-item:not(:last-child) {
  margin-bottom: 15px;
}

.filters-infrastructure {
  width: 150px;
}

.filters-type-housing {
  width: 146px;
}

.filters-controls {
  border: none;
  padding: 0;
}

.filters-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

.filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.filters__buttons {
  width: 100px;
}

.catalog__hotels-content {
  width: 1060px;
  margin: 0 auto;
  padding-top: 73px;
}

.catalog__hotels-sort {
  display: flex;
  min-height: 48px;
  margin-bottom: 60px;
}

.catalog__hotels-text {
  margin: 0;
  min-width: 500px;
  margin-top: 5px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog__hotels-sort-select {
  width: 287px;
  outline: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-left: 19px;
  appearance: none;
  background-image: url(../images/catalog-sort-arrow.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
}

.catalog__hotels-sort-select:hover {
  border: 2px solid #83B3D3;
}

.catalog__hotels-sort-select:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.catalog__hotels-list-view {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 8px;
  margin-left: auto;
}

.catalog__hotels-item-view {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog__hotels-item-view:hover,
.catalog__hotels-item-view:active {
  border: 2px solid #000000;
}

.catalog__hotels-item-view--selected {
  border: 2px solid #000000;
}

.catalog__hotels-link-view {
  height: 100%;
  display: block;
}

.catalog__hotels-view-table {
  background: url(../images/catalog-hotels/catalog-view-table.svg) no-repeat 50%;
}

.catalog__hotels-view-large {
  background: url(../images/catalog-hotels/catalog-view-large.svg) no-repeat 50%;
}

.catalog__hotels-view-list {
  background: url(../images/catalog-hotels/catalog-view-list.svg) no-repeat 50%;
}

.catalog__hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__hotels-content {
  width: 1060px;
}

.catalog__hotels-products {
  padding-bottom: 20px;
}

.catalog__hotels-list {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 58px;
  row-gap: 30px;
  margin-left: 20px;
}

.catalog__hotels-link {
  text-decoration: none;
  display: block;
  width: 300px;
  height: 211px;
  margin-bottom: 16px;
}

.catalog__hotels-name-link {
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  color: #000000;
}

.catalog__hotels-link-amara {
  background-image: url(../images/catalog-hotels/amara-hotel.jpg);
  background-repeat: no-repeat;
}

.catalog__hotels-link-diablo {
  background-image: url(../images/catalog-hotels/poco-diablo-hotel.jpg);
  background-repeat: no-repeat;
}

.catalog__hotels-link-desert {
  background-image: url(../images/catalog-hotels/desert-quail-hotel.jpg);
  background-repeat: no-repeat;
}

.catalog__hotels-link-green {
  background-image: url(../images/catalog-hotels/green-tree-hotel.jpg);
  background-repeat: no-repeat;
}

.catalog__hotels-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog__hotels-info {
  margin: 0;
  margin-bottom: 16px;
}

.catalog__hotels-info-text {
  margin-left: 75px;
}

.catalog__hotels-more-favorite {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog__hotels-button {
  background-color:#82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 140px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.catalog__hotels-more {
  background-color: #756157;
}

.catalog__hotels-more:hover,
.catalog__hotels-more:focus {
  background-color: #615048;
}

.catalog__hotels-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.catalog__hotels-favourites {
  background-color: #82B3D3;
}

.catalog__hotels-favourites:hover,
.catalog__hotels-favourites:focus {
  background-color: #68A2CA;
}

.catalog__hotels-favourites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog__hotels__ratings {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
}

.rating-stars-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 140px;
  display: flex;
}

.rating-stars-item {
  width: 18px;
  height: 18px;
  background: url(../images/catalog-hotels/star.svg) no-repeat;
  padding-right: 6px;
}

.rating-result {
  width: 160px;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.pagination {
  display: flex;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  width: 55px;
  height: 55px;
  background-color: #82B3D3;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-item-active {
  background-color: #F2F2F2;
  color: #000000;
}

.catalog__hotels-quantity {
  width: 386px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__hotels-quantity-select {
  width: 160px;
  height: 100%;
  outline: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 19px;
  appearance: none;
  background-image: url(../images/catalog-sort-arrow.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
  cursor: pointer;
}

.subscribe-white {
  background-color: #ffffff;
}

.page-footer__content {
  width: 1060px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address__link:hover, .address__link:focus {
  color: #756157;
}

.address__link:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer__socials-img {
  fill: #83B3D3;
}

.page-footer__socials-img:hover,
.page-footer__socials-img:focus{
  fill: #68A2CA;
}

.page-footer__socials-img:active {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer__logo-img {
  fill: #000000;
}

.page-footer__logo-img:hover,
.page-footer__logo-img:focus {
  fill: #756157;
}

.page-footer__logo-img:active {
  fill: rgba(117, 97, 87, 0.3);
}
